<html>
<head>
  <title>ZANZOCAM - {{ title }}</title>
    
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='logos/favicon.png') }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="text/html; charset=ISO-8859-1">
  <link href="{{ url_for('static', filename='css/milligram.css') }}" rel="stylesheet">

</head>
<body class="grass">
<div class="raspberry" style="margin-left: 5vw;  margin-top: 75vh; transform: rotate(70deg);"></div>
<div class="raspberry" style="margin-left: 15vw; margin-top: 25vh; transform: rotate(-140deg);"></div>
<div class="raspberry" style="margin-left: 45vw; margin-top: 105vh; transform: rotate(90deg);"></div>
<div class="raspberry" style="margin-left: 55vw; margin-top: 5vh;  transform: rotate(20deg);"></div>
<div class="raspberry" style="margin-left: 85vw; margin-top: 25vh; transform: rotate(-50deg);"></div>
<div class="raspberry" style="margin-left: 95vw; margin-top: 85vh; transform: rotate(-220deg);"></div>

<div id="container">
    
    <div class="center">
      <a href="/">
        <img src="{{ url_for('static', filename='logos/logo-zanzocam.png') }}" alt="Logo ZANZOCAM" width="150px">
      </a>
      <div  style="margin-bottom: 2rem;"><small>{{ version }}</small></div>
      <h1>{{ title }}</h1>
    </div>

    {% block content %}
    {% endblock %}

</div>


</body>
</html>
