<!DOCTYPE html>
<html>
<head>
  <title>ZANZOCAM - {{ title }}</title>
    
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="text/html; charset=ISO-8859-1">
  <link href="{{ url_for('static', filename='css/milligram.css') }}" rel="stylesheet">

</head>
<body class="grass">
<div class="raspberry" style="margin-left: 5%; animation-delay: 5s;"></div>
<div class="raspberry" style="margin-left: 15%; animation-delay: -3s;"></div>
<div class="raspberry" style="margin-left: 25%; animation-delay: 1s;"></div>
<div class="raspberry" style="margin-left: 75%; animation-delay: 2s;"></div>
<div class="raspberry" style="margin-left: 85%; animation-delay: -2s;"></div>
<div class="raspberry" style="margin-left: 95%; animation-delay: 5s;"></div>

<div id="container">
    
    <div class="center">
        <h1>Errore!</h1>
        <h2>{{ message }}</h2>
        <a href="/" class="button">Torna alla Home</a>
    </div>
</div>


</body>
</html>
