{% extends "base.html" %}

{% block content %}

    <div id="page">

        {% if no_logs_dir  %}
        La cartella dei log non esiste.
        <br />
        Questa ZANZOCAM non e' stata configurata correttamente e potrebbe non funzionare.
        {% else %}

        Questa ZANZOCAM contiene <b>{{ logs_count }}</b> file di log per un totale di <b>{{ logs_size }} ({{ log_disk_occupancy }} dello spazio disponibile)</b>.

        <div class="row">
            <h3>Invio dei log al server:</h3>
            <label class="toggle">
                <input type="radio" value="YES" name="send_logs" {% if not send_logs or send_logs=="YES" %}checked{%endif%} onchange="javascript:logs('yes');">
                <span class="label">SI</span>
            </label>
            <label class="toggle">
                <input type="radio" value="NO" name="send_logs" {% if send_logs=="NO" %}checked{%endif%} onchange="javascript:logs('no');">
                <span class="label">NO</span>
            </label>
        </div>

        <h3 style="margin-top:0;">Logs:</h3>
        
        <a class="button" href="/logs/all">Scarica Tutti</a>
        <a class="button" href="/logs/cleanup" style="background-color:#bb0000;" onclick="return confirm('Sei sicuro di voler cancellare TUTTI i logs?');">Cancella Tutti</a>
        
        {% for log_name, log_content in logs.items() %}
        
        <details>
            <summary style="padding:0.5rem;"><b>{{ log_content.date }}</b></summary>
            <div>
                <a class="button" href="/logs/text/{{ log_name }}">Scarica</a>
                <p id="logs" style="white-space: pre-wrap;color:#eee;background-color:#222;padding:2rem;border-radius:1rem;font-family:monospace;">{{ log_content.content }}</p>               
            </div>
        </details>

        {% endfor %}

        {% endif %}
    </div>

    <script>
        function logs(value) {
            fetch("/configure/send-logs/"+value, {
                method:'POST',
            })
            .then(r => {
                if (r.status === 200){
                    alert("Modifica completata con successo.");
                } else {
                    alert("Qualcosa è andato storto! " +
                        "ZanzoCam ha risposto con un codice "+ r.status +".");
                }
            }).catch(r => {
                alert("Qualcosa è andato storto! " +
                      "ZanzoCam non è raggiungibile.");
            })   
        }
        </script>
    
{% endblock %}
