{% extends "base.html" %}

{% block content %}

    <div class="row">
        <form action="/configure/low-light-calibration-data" method="POST"> 
            <h3>Dati di calibrazione:</h3>
            <p>
            Inserisci nel box sottostante i dati di calibrazione. Essi devono essere in questo formato:
            luminosita' iniziale, luminosita' target, shutter speed. I valori devono essere separati 
            da una virgola, senza spazi. Per esempio 5.1,30.7,20000 e' una riga valida.<br>
            Questi valori costituiscono la linea blu nel grafico sottostante,
            e sono usati per calcolare la linea arancione, che rappresenta l'equazione usata da
            ZANZOCAM per correggere il tempo di esposizione delle foto a bassa luminosita'.<br>
            Ricordati che i valori devono sempre essere separati da una VIRGOLA, non da spazi o da nessun altro
            carattere. Se inserisci dei dati scorretti, la curva non verra' calcolata.
            </p>
            <textarea id="calibration-data" name="calibration-data" style="height:200px;">{{ calibration_data }}</textarea>
            <button class="button center">Salva</a>
        </form>
    </div>

    <div class="row">
        <h3>Curva Calcolata:</h3>
    </div>

    <div class="row">
        <img src={{ figure }} alt="Grafico non disponibile">
    </div>

    <div class="row">
        <div class="column center">
            <h3>Parametri Attuali:</h3>    
            <p>Parametro A:  <b>{{ old_a_value }}</b></p>
            <p>Parametro B:  <b>{{ old_b_value }}</b></p>
        </div>
        <div class="column center">
            <h3>Nuovi Parametri:</h3>    
            <p>Parametro A:  <b>{{ a_value }}</b></p>
            <p>Parametro B:  <b>{{ b_value }}</b></p>
        </div>
    </div>

    <p id="feedback" class="center">{{ feedback }}</p>

    <div class="center">
        <a href="/configure/low-light-calibrated_values?a={{ a_value }}&b={{ b_value }}" class="button center" {% if not a_value or not b_value%}disabled style="pointer-events: none;"{%endif%}>Imposta i nuovi parametri</a>
    </div>

    <script>

    function turnCalibrationOFF() {
        fetch("/configure/low-light-calibration/OFF", {
            method:'POST',
        })
        .then(r => {
            if (r.status !== 200){
                alert("Qualcosa è andato storto! " +        
                    "ZANZOCAM ha risposto con un codice "+r.status+".");
            } else {
                alert("Modifica completata con successo.");
            }
        }).catch(r => {
            alert("Qualcosa è andato storto! " +
                    "ZANZOCAM non è raggiungibile.");
        })   
    }
    function turnCalibrationON() {
        confirmation = confirm("ATTENZIONE! Una volta premuto questo bottone, " +
              "ZANZOCAM comincera' a raccogliere i dati necessari alla calibrazione, " +
              "allungando notevolmente i tempi di scatto e i consumi della webcam.\n\n" +
              "Sei sicuro/a di voler proseguire?");
        if(confirmation){
            fetch("/configure/low-light-calibration/ON", {
                method:'POST',
            })
            .then(r => {
                if (r.status !== 200){
                    alert("Qualcosa è andato storto! " +        
                      "ZANZOCAM ha risposto con un codice "+r.status+".");
                } else {
                    alert("Modifica completata con successo.");
                }
            }).catch(r => {
                alert("Qualcosa è andato storto! " +
                      "ZANZOCAM non è raggiungibile.");
            })   
        }
    }
    </script>

    
{% endblock %}

