{% extends "base.html" %}

{% block content %}
    <div id="page">

        <form id="config" method="POST" action="/configure/network">

            <label for="network_ssid">Nome della rete (SSID):</label>
            <input type="text" name="network_ssid" value="{{ network_data.ssid }}">
            
            <label for="network_password">Password:</label>
            <div class="row">
                <input type="password" name="network_password" value="{{ network_data.password }}"> 
                <button onclick="toggle_password(this)" type="button">Mostra</button> 
            </div>
        
            <div class="center">
                <button id="configure-network" class="button setup-button">Configura la rete</button> 
                <a href="/" class="button button-outline setup-button">Indietro</a> 
            </div>

        </form>

        <hr />

        <div>
            <h2>Reti Wifi Disponibili</h2>
            <p>Ricarica la pagina per aggiornare la lista</p>
            {% if wifi_list %}
                <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 4px;">
                    <p>SSID</p>
                    <p>Livello</p>
                    <p>Qualità</p>
                {% for wifi in wifi_list %}
                    <p>"{{ wifi.ssid }}"</p>
                    <p>{{ wifi.signal }}</p>
                    <p>{{ wifi.quality }}</p>
                {% endfor %}
                </div>
            {% else %}
            <p >Nessun WiFi disponibile</p>               
            {% endif %}
        </div>

    </div>
    
    
    <script>
    function toggle_password(button) {
        if( button.innerHTML == 'Mostra' ) {
            button.innerHTML = 'Nascondi'
            button.previousElementSibling.type="text";
        } else {
            button.innerHTML = 'Mostra'
            button.previousElementSibling.type="password";
        }
    }

    function toggle_network_type(value){
        // Toggle wifi, ethernet or sim blocks on the page
        var wifi_block = document.getElementById("wifi-vars");
        var ethernet_block = document.getElementById("ethernet-vars");
        var sim_block = document.getElementById("sim-vars");

        value = value.toLowerCase()
        wifi_block.style.display = value==="wifi" ? "block" : "none";
        ethernet_block.style.display = value==="ethernet" ? "block" : "none";
        sim_block.style.display = value==="sim" ? "block" : "none";
    }
    toggle_network_type("{{ network_data.type }}");

    </script>
    
{% endblock %}
