{% extends "base.html" %}

{% block content %}
    <div id="page">
        <form id="config" method="POST" action="/configure/network">
            <label for="network_ssid">Nome della rete (SSID):</label>
            <input type="text" name="network_ssid" value="{{ network_data.ssid }}">
            
            <label for="network_password">Password:</label>
            <div class="row">
                <input type="password" name="network_password" value="{{ network_data.password }}"> 
                <button onclick="toggle_password(this)" type="button">Mostra</button> 
            </div>
            <div class="center">
                <button id="configure-network" class="button setup-button">Configura la rete</button> 
                <a href="/" class="button button-outline setup-button">Indietro</a> 
            </div>
        </form>
    </div>
    
    <script>
    function toggle_password(button) {
        if( button.innerHTML == 'Mostra' ) {
            button.innerHTML = 'Nascondi'
            button.previousElementSibling.type="text";
        } else {
            button.innerHTML = 'Mostra'
            button.previousElementSibling.type="password";
        }
    }
    </script>
    
{% endblock %}
