{% extends "base.html" %}

{% block content %}
    
    <p>
    Ricorda che altre opzioni come rotazione, inversione verticale o orizzontale, scritte, loghi etc... 
    verranno applicate piu' tardi, quando la foto verra' inviata al server. La preview serve unicamente
    a sistemare l'inquadratura e la messa a fuoco.
    </p>

    <!-- https://www.geeksforgeeks.org/maintain-the-aspect-ratio-of-a-div-with-css/ -->
    <div id="zanzocam-preview" style="padding-top:56%!important; background-color:#ccc; background-size: 100%; margin:30px auto; padding: 30px; border-radius:2rem;">
        <button id="zanzocam-preview-button" class="button" onclick="refreshPreview();">Aggiorna</button>
    </div>    

    <img src="/video-feed" style="width:min(100%, 600px);">
    
    <p>
    Quando inquadratura e messa a fuoco ti sembrano buone, premi Scatta Foto per inviare la prima foto al server.
    Se il server e' configurato correttamente, da quel momento in poi ZANZOCAM e' autonoma.
    </p>

    <div class="center">
        <button id="shoot-picture" onclick="shootPicture();" class="button setup-button" style="width:50%;">Scatta Foto</button>
    </div>
    
    <div id="logs-block" class="center" style="display: none;">
        <textarea id="logs" disabled style="height:30vh;margin:3rem 0;color:#eee;background-color:#222;padding:3rem 2rem;border-radius:1rem;"></textarea>
        <p><a href="/logs/text/picture" class="button" download="zanzocam-logs.txt">Scarica i log</a><br></p>
    </div>

    <p id="feedback" class="center"></p>

    <div class="center">
        <p><a href="/webcam-calibration" class="button center">Calibrazione foto scure</a><br></p>        
    </div>
    
    <script>

    // Update the camera preview:
    function refreshPreview(){
        document.getElementById("zanzocam-preview-button").innerHTML = "Caricamento...";
        fetch("/preview-picture")
        .then(r => {
            document.getElementById("zanzocam-preview-button").innerHTML = "Aggiorna";
            document.getElementById("zanzocam-preview").style.backgroundImage = "url('{{ preview_url }}?random="+ new Date().getTime() + "')";
        })
        
    }
    refreshPreview();


    // Function to poll the server
    const poll = async ({ fn, validate, delay, interval, maxAttempts }) => {
        let attempts = 0;
        const executePoll = async (resolve, reject) => {
            const result = await fn();
            attempts++;
            if (validate(result)) {
                return resolve(result);
            } else {
                setTimeout(executePoll, interval, resolve, reject);
            }
        };
        return new Promise(executePoll);
    };

    
    // Ask the server for new logs
    var startingMessage = "";
    const askForLogs = async () => {
        return fetch("/logs/json/picture")
        .then(response => response.json())
        .then(logs => { 
            var textarea = document.getElementById("logs")
            textarea.value = startingMessage + logs["content"]; 
            textarea.scrollTop = textarea.scrollHeight;
            return logs["content"];
        });
    };
    
    // Send the shoot-picture command to the server and read the logs
    const shootPicture = async () => {
        document.getElementById("feedback").innerHTML = "ZANZOCAM sta scattando (non lasciare la pagina!)";
        document.getElementById("zanzocam-preview-button").disabled = true;
        document.getElementById("shoot-picture").disabled = true;
        document.getElementById("shoot-picture").innerHTML = 'Sto scattando...';
        document.getElementById("logs-block").style.display = "block";
        startingMessage = "Running...\n\n";

        // Start to poll
        setTimeout(function(){
            poll({
                fn: askForLogs,
                validate: function(result){ return (result.includes("Execution completed")); },
                delay: 1000,
                interval: 1000
            })
            .catch(err => console.error(err));
        }, 1000);
        
        // Shoot the picture
        fetch("/shoot-picture", {
            method:'POST',
        })
        .then(response => {
            document.getElementById("zanzocam-preview-button").disabled = false;
            document.getElementById("shoot-picture").disabled = false;
            document.getElementById("shoot-picture").innerHTML = 'Scatta Foto';
            if (!response.ok) {
                document.getElementById("feedback").innerHTML = "Lo scatto della foto non è andato a buon fine. "+
                "Verifica che tutti i parametri siano corretti e controlla i log per capire cosa non ha funzionato.";
                alert("Lo scatto della foto non è andato a buon fine. " +
                "Verifica che tutti i parametri siano corretti e controlla i log per capire cosa non ha funzionato.");
            } else {
                document.getElementById("feedback").innerHTML = "Foto scattata! Vai sul tuo server per assicurarti che sia arrivata.";
            }
        });
    };    
    </script>
    
{% endblock %}

