[defaults]
# Do nt fail the key check if the host is unknown to the ssh client
host_key_checking = False

# Make user we are using local inventory and not the default one
inventory=./inventory

# Set default user to root
remote_user=pi
