{% extends "base.html" %}

{% block content %}
    
    <h4 id="setup" style="margin:5rem 0 3rem 0;">{{ initial_message }}</h4>

    {% if camera %}
    <!-- https://www.geeksforgeeks.org/maintain-the-aspect-ratio-of-a-div-with-css/ -->
    <div style="padding-top:56%!important; background-color:#ccc; margin:30px auto; padding: 30px; border-radius:2rem;">La preview della webcam andra' qui</div>
    
    <div class="center">
        <a href="#" id="start" onclick="startAsyncProcess();" class="button setup-button" style="display:block;">Scatta Foto</a>
    </div>
    {% endif %}
    
    <textarea id="logs" disabled style="height:30vh;margin-bottom:3rem;color:#eee;background-color:#222;padding:3rem 2rem;border-radius:1rem;">
    </textarea>
    
    <p id="feedback"></p>
    <div class="center">
        <a href="/" id="back" class="button setup-button" style="display:none;">Indietro</a>
    </div>

    <script>
    // Keep people from leaving
    setupInProgress = true;
    window.onunload = function() {
        alert("{{ dont_leave_message }}");
    }
    
    // Function to poll the server
    const poll = async ({ fn, validate, interval, maxAttempts }) => {
        let attempts = 0;
        const executePoll = async (resolve, reject) => {
            const result = await fn();
            attempts++;
            if (validate(result)) {
                return resolve(result);
            } else {
                setTimeout(executePoll, interval, resolve, reject);
            }
        };
        return new Promise(executePoll);
    };
    
    // Ask the server for new logs
    var startingMessage = "";
    const askForLogs = async () => {
        fetch("/logs", {
            method:'GET',
        })
        .then(response => response.json())
        .then(logs => { document.getElementById("logs").value = startingMessage + logs.join(""); });
    };
    
    // Start to poll
    const POLL_INTERVAL = 1000;
    const pollForLogs = poll({
          fn: askForLogs,
          validate: () => {return !setupInProgress;},
          interval: POLL_INTERVAL,
    })
    .then(logs => console.log(logs))
    .catch(err => console.error(err));
    
    // Start the setup procedure
    const startAsyncProcess = async () => {
        startingMessage = "Running...\n\n";
        document.getElementById("setup").innerHTML = "{{ progress_message }}";
        if(document.getElementById("start")){
            document.getElementById("start").disabled = 'disabled';
        }
        fetch("{{ async_url }}", {
            method:'POST',
        })
        .then(response => {
            if (!response.ok) {
                document.getElementById("setup").innerHTML = "{{ async_process_failed_message_short }}";
                document.getElementById("feedback").innerHTML = "{{ async_process_failed_message_long }}";
                alert("{{ async_process_failed_message_long }}");
                reject();
            } else {
                return response.json();
            }
        })
        .then(outcome => {
            document.getElementById("back").style.display = "block";
            document.getElementById("setup").innerHTML = "{{ async_process_completed_message_short }}";
            document.getElementById("feedback").innerHTML = "{{ async_process_completed_message_long }}";
            document.getElementById("shoot").disabled = 'disabled';
        });
    };
    {% if not camera %}startAsyncProcess();{%endif%}
    
    </script>
    
{% endblock %}

