{% extends "base.html" %}

{% block content %}
    <p>
    Inserisci qua sotto i dati del WiFi e i dati necessari per la
    configurazione iniziale del software della webcam.
    </p>
    
    <p>
    Questi dati potranno essere cambiati in seguito utilizzando il file di 
    configurazione salvato sul server. La webcam scarichera' il file aggiornato
    appena prima di fare l'upload di una nuova foto.
    </p>

     
    <div id="main-form"">
    
        <form id="config" method="POST" action="/setting-up">

            <h3>WiFi:</h3>
                <label for="wifi_ssid">Nome della rete (SSID):</label>
                <input type="text" name="wifi_ssid" value="{{ data.wifi_ssid }}">
                
                <label for="wifi_password">Password:</label>
                <input type="text" name="wifi_password" value="{{ data.wifi_password }}" required>                
            
            <h3>Server:</h3>
                <label for="server_url">URL del server:</label>
                <input type="text" placeholder="https://example.com/foto" name="server_url" value="{{ data.server_url }}" required>
                
                <label for="server_username">Username del server (se necessario):</label>
                <input type="text" placeholder="username"  name="server_username" value="{{ data.server_username }}">
                
                <label for="server_password">Password del server (se necessaria):</label>
                <input type="text" placeholder="password"  name="server_password" value="{{ data.server_password }}">
            
            <div class="center">
                <button id="configure" class="button setup-button" type="submit">Configura</button>
                <button id="shoot" class="button setup-button" onclick="javascript:shootFirstPicture();" type="button">Scatta Foto</button>
            </div>     
        </form>

        <p id="photo-feedback" class="center"></p>

    </div>
    
    
    <script>
    function disableOnHotspot() {
        if(window.location.href === "http://10.0.0.5"){
            button = document.getElementById("shoot");
            button.disabled = true;
            feedback = document.getElementById("photo-feedback");
            feedback.innerHTML = "Per scattare la foto di prova, riavvia il Raspberry "+
			"e connettiti ad esso tramite il WiFi, invece che usare l'hotspot.";
        }
    }

    function shootFirstPicture() {
        button = document.getElementById("shoot");
        configure = document.getElementById("configure");
        feedback = document.getElementById("photo-feedback");
        
        button.innerHTML = "Sto scattando...";
        feedback.innerHTML = "Sto scattando (ci vuole un minuto)...";
        button.disabled = true;
        configure.disabled = true;
        
        fetch("/shoot", {
            method:'GET',
        })
        .then(response => response.json())
        .then(outcome => {
            if (outcome['success']){
                feedback.innerHTML = "Foto scattata con successo! Visita <a href='" + 
                    outcome['server_url'] +
                    "/pictures' target='_blank'>il tuo server</a> per assicurarti che sia stata ricevuta."
            } else {
                feedback.innerHTML = "Si e' verificato un errore! "+
                    "Prova a riconfigurare ZANZOCAM e controlla che <a href='" + 
                    outcome['server_url'] +
                    "/pictures' target='_blank'>il tuo server</a> sia funzionante."         
            }
            button.innerHTML = "Scatta di nuovo";
            button.disabled = false;
            configure.disabled = false;
        });
    };
    </script>
    
{% endblock %}
