{% extends "base.html" %}

{% block content %}
    <p>
    Inserisci qua sotto i dati del WiFi e i dati necessari per la
    configurazione iniziale.
    </p>
    
    <p>
    Questi dati potranno essere cambiati in seguito utilizzando il file di 
    configurazione salvato sul server. La webcam scarichera' il file aggiornato
    appena prima di scattare una nuova foto.
    </p>

     
    <div id="main-form">
    
        <form id="config" method="POST" action="/setting-up">

            <h3>WiFi:</h3>
                <label for="wifi_ssid">Nome della rete (SSID):</label>
                <input type="text" name="wifi_ssid" value="{{ data.wifi_ssid }}">
                
                <label for="wifi_password">Password:</label>
                <input type="text" name="wifi_password" value="{{ data.wifi_password }}" required>                
            
                <div class="row">
                    <h3>Server:</h3>
                    <label class="toggle">
                        <input type="radio" value="HTTP" name="server_protocol" {% if data.server_protocol=="HTTP" %}checked{%endif%} onclick="javascript:toggle_server_protocol('HTTP')" style="display:none;">
                        <span class="label">HTTP</span>
                    </label><br>
                    <label class="toggle">
                        <input type="radio" value="FTP" name="server_protocol" {% if data.server_protocol=="FTP" %}checked{%endif%} onclick="javascript:toggle_server_protocol('FTP')"  style="display:none;">
                        <span class="label">FTP</span>
                    </label><br>
                </div>
                
                <div id="ftp-vars" style="display: none; flex-direction:column!important;">
                    <div class="row">
                        <div class="column">
                            <label>Hostname:</label>
                            <input type="text" placeholder="example.com" id="server-hostname" name="server_hostname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <label class="label-inline">Sottocartella (se necessaria):</label>
                            <input type="text" name="server_subfolder">
                        </div>
                        <div class="column">
                            <label class="label-inline">Avanzate:</label>
                            <div style="padding: 10px;">
                                <input type="checkbox"  name="server_tls">
                                <label class="label-inline" checked>Usa TLS</label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="http-vars" style="display: none;">
                    <label for="server_url">URL del server:</label>
                    <input type="text" placeholder="https://example.com/foto" name="server_url" value="{{ data.server_url }}">
                </div>
                
                <label for="server_username">Username del server (se necessario):</label>
                <input type="text" placeholder="username"  name="server_username" value="{{ data.server_username }}">
                
                <label for="server_password">Password del server (se necessaria):</label>
                <input type="text" placeholder="password"  name="server_password" value="{{ data.server_password }}">

                <div class="row">
                    <h3>Hotspot:</h3>
                    <label class="toggle">
                        <input type="radio" value="ON" name="hotspot_allowed" {% if not data.hotspot_allowed or data.hotspot_allowed=="ON" %}checked{%endif%} onchange="javascript:turnHotspotON()">
                        <span class="label">ON</span>
                    </label><br>
                    <label class="toggle">
                        <input type="radio" value="OFF" name="hotspot_allowed" {% if data.hotspot_allowed=="OFF" %}checked{%endif%} onchange="javascript:turnHotspotOFF()">
                        <span class="label">OFF</span>
                    </label><br>
                </div>
                <p><b>NOTA BENE:</b> Questo switch serve per permettere a ZANZOCAM di generare o meno un hotspot quando perde contatto
                con qualunque rete WiFi nota. Questo switch NON attiva l'hotspot se ZANZOCAM e' gia' in grado di collegarsi
                con un'altra rete WiFi o e' collegata via rete Ethernet.<br>
                Si consiglia di selezionare ON durante il setup della webcam, e di selezionare OFF una volta che il sistema e'
                completamente funzionante.</p>
            
            <div class="center">
                <button id="configure" class="button setup-button" type="submit">Configura</button>
                <a href="/shoot-picture" id="shoot" class="button setup-button" type="button">Scatta Foto</a>
            </div>     
            
        </form>

        <p id="photo-feedback" class="center"></p>

    </div>
    
    
    <script>
    function toggle_server_protocol(value){
        // Toggle http or ftp in the server section
        var http_block = document.getElementById("http-vars");
        var ftp_block = document.getElementById("ftp-vars");
        http_block.style.display = value==="HTTP" ? "block" : "none";
        ftp_block.style.display = value==="FTP" ? "block" : "none";
    }
    toggle_server_protocol("{{ data.server_protocol }}");
    
    
    function disableOnHotspot() {
        if(window.location.href === "http://10.0.0.5"){
            button = document.getElementById("shoot");
            button.disabled = true;
            feedback = document.getElementById("photo-feedback");
            feedback.innerHTML = "Per scattare la foto di prova, riavvia il Raspberry "+
			"e connettiti ad esso tramite il WiFi, invece che usare l'hotspot.";
        }
    }
    
    function turnHotspotOFF() {
        confirmation = confirm("ATTENZIONE! Una volta premuto questo bottone, " +
              "ZANZOCAM smettera' di produrre il suo hotspot in caso di " +
              "assenza di WiFi.\n\n" +
              "Sei sicuro\a di voler proseguire?");
        if(confirmation){
            fetch("/hotspot/OFF", {
                method:'POST',
            })
            .then(r => {
                alert("Modifica completata con successo.");
            }).catch(r => {
                alert("Qualcosa e' andato storto! " +
                      "ZANZOCAM non e' raggiungibile.");
            })   
        }
    }
    function turnHotspotON() {
        confirmation = confirm("ATTENZIONE! Una volta premuto questo bottone, " +
              "ZANZOCAM comincera' a produrre il suo hotspot in caso di " +
              "assenza di WiFi.\n\n" +
              "Sei sicuro\a di voler proseguire?");
        if(confirmation){
            fetch("/hotspot/ON", {
                method:'POST',
            })
            .then(r => {
                alert("Modifica completata con successo.");
            }).catch(r => {
                alert("Qualcosa e' andato storto! " +
                      "ZANZOCAM non e' raggiungibile.");
            })   
        }
    }

    /* function shootFirstPicture() {
        button = document.getElementById("shoot");
        configure = document.getElementById("configure");
        feedback = document.getElementById("photo-feedback");
        
        button.innerHTML = "Sto scattando...";
        feedback.innerHTML = "Sto scattando (ci vuole un minuto)...";
        button.disabled = true;
        configure.disabled = true;
        
        fetch("/shoot", {
            method:'GET',
        })
        .then(response => response.json())
        .then(outcome => {
            if (outcome['success']){
                feedback.innerHTML = "Foto scattata con successo! Visita <a href='" + 
                    outcome['server_url'] +
                    "/pictures' target='_blank'>il tuo server</a> per assicurarti che sia stata ricevuta."
            } else {
                feedback.innerHTML = "Si e' verificato un errore! "+
                    "Prova a riconfigurare ZANZOCAM e controlla che <a href='" + 
                    outcome['server_url'] +
                    "/pictures' target='_blank'>il tuo server</a> sia funzionante."         
            }
            button.innerHTML = "Scatta di nuovo";
            button.disabled = false;
            configure.disabled = false;
        });
    }; */
    </script>
    
{% endblock %}
