{% extends "base.html" %}

{% block content %}
    <p>
    Inserisci qua sotto i dati del WiFi e i dati necessari per la
    configurazione iniziale del software della webcam.
    </p>
    
    <p>
    Questi dati potranno essere cambiati in seguito utilizzando il file di 
    configurazione salvato sul server. La webcam scarichera' il file aggiornato
    appena prima di fare l'upload di una nuova foto.
    </p>

     
    <div id="main-form"">
    
        <form id="config" method="POST" action="/setting-up">

            <h3>WiFi:</h3>
                <label for="wifi_ssid">Nome della rete (SSID):</label>
                <input type="text" name="wifi_ssid" value="{{ data.wifi_ssid }}">
                
                <label for="wifi_password">Password:</label>
                <input type="text" name="wifi_password" value="{{ data.wifi_password }}" required>                
            
                <div class="row">
                    <h3>Server:</h3>
                    <label class="toggle">
                        <input type="radio" value="HTTP" name="server_protocol" onclick="javascript:toggle_server_protocol('HTTP')">
                        <span class="label">HTTP</span>
                    </label><br>
                    <label class="toggle">
                        <input type="radio" value="FTP" name="server_protocol" checked onclick="javascript:toggle_server_protocol('FTP')">
                        <span class="label">FTP</span>
                    </label><br>
                </div>
                
                <div id="ftp-vars" style="display: none;">
                    <label for="server_hostname">Hostname:</label>
                    <input type="text" placeholder="example.com" name="server_hostname" value="{{ data.server_hostname }}">
                </div>
                
                <div id="http-vars" style="display: none;">
                    <label for="server_url">URL del server:</label>
                    <input type="text" placeholder="https://example.com/foto" name="server_url" value="{{ data.server_url }}">
                </div>
                
                <label for="server_username">Username del server (se necessario):</label>
                <input type="text" placeholder="username"  name="server_username" value="{{ data.server_username }}">
                
                <label for="server_password">Password del server (se necessaria):</label>
                <input type="text" placeholder="password"  name="server_password" value="{{ data.server_password }}">
            
            <div class="center">
                <button id="configure" class="button setup-button" type="submit">Configura</button>
                <button id="shoot" class="button setup-button" onclick="javascript:shootFirstPicture();" type="button">Scatta Foto</button>
                <button id="mode" class="button setup-button"  onclick="javascript:goOperational();" type="button">Modalita' operativa</button>
            </div>     
            
        </form>

        <p id="photo-feedback" class="center"></p>

    </div>
    
    
    <script>
    function toggle_server_protocol(value){
        // Toggle http or ftp in the server section
        var http_block = document.getElementById("http-vars");
        var ftp_block = document.getElementById("ftp-vars");
        http_block.style.display = value==="HTTP" ? "block" : "none";
        ftp_block.style.display = value==="FTP" ? "block" : "none";
    }
    toggle_server_protocol("{{ data.server_protocol }}");
    
    
    function disableOnHotspot() {
        if(window.location.href === "http://10.0.0.5"){
            button = document.getElementById("shoot");
            button.disabled = true;
            feedback = document.getElementById("photo-feedback");
            feedback.innerHTML = "Per scattare la foto di prova, riavvia il Raspberry "+
			"e connettiti ad esso tramite il WiFi, invece che usare l'hotspot.";
        }
    }
    
    function goOperational() {
        confirmation = confirm("ATTENZIONE! Una volta premuto questo bottone, " +
              "ZANZOCAM smettera' di produrre il suo hotspot in caso di " +
              "assenza di WiFi.\n\n" +
              "Sei sicuro\a di voler proseguire?");
        if(confirmation){
            fetch("/go_operational", {
                method:'POST',
            })
            .then(r => {
                alert("ZANZOCAM e' in modalita' operativa. Per ripristinare " +
                      "la modalita' setup, cancella il file OPERATIONAL dalla " +
                      "cartella /home/zanzocam-bot/ sulla partizione rootfs " +
                      "della scheda SD.");
            }).catch(r => {
                alert("Qualcosa e' andato storto! " +
                      "ZANZOCAM non e' raggiungibile.");
            })   
        }
    }

    function shootFirstPicture() {
        button = document.getElementById("shoot");
        configure = document.getElementById("configure");
        feedback = document.getElementById("photo-feedback");
        
        button.innerHTML = "Sto scattando...";
        feedback.innerHTML = "Sto scattando (ci vuole un minuto)...";
        button.disabled = true;
        configure.disabled = true;
        
        fetch("/shoot", {
            method:'GET',
        })
        .then(response => response.json())
        .then(outcome => {
            if (outcome['success']){
                feedback.innerHTML = "Foto scattata con successo! Visita <a href='" + 
                    outcome['server_url'] +
                    "/pictures' target='_blank'>il tuo server</a> per assicurarti che sia stata ricevuta."
            } else {
                feedback.innerHTML = "Si e' verificato un errore! "+
                    "Prova a riconfigurare ZANZOCAM e controlla che <a href='" + 
                    outcome['server_url'] +
                    "/pictures' target='_blank'>il tuo server</a> sia funzionante."         
            }
            button.innerHTML = "Scatta di nuovo";
            button.disabled = false;
            configure.disabled = false;
        });
    };
    
    toggle_server_protocol({{ data.server_protocol }});
    </script>
    
{% endblock %}
