{% extends "base.html" %}

{% block content %}
    
    <div id="loading" class="center">
        <h2>Configurazione in corso...</h2>
        <textarea id="logs"></textarea>
    </div>

    <script>
    
    // Poll the server for fresh logs
    const poll = async ({ fn, validate, interval, maxAttempts }) => {
        let attempts = 0;

        const executePoll = async (resolve, reject) => {
            const result = await fn();
            attempts++;

            if (validate(result)) {
                return resolve(result);
            } else if (maxAttempts && attempts === maxAttempts) {
                return reject(new Error('Exceeded max attempts'));
            } else {
                setTimeout(executePoll, interval, resolve, reject);
            }
        };

        return new Promise(executePoll);
    };
    
    
    const POLL_INTERVAL = 1000;
    const pollForLogs = poll({
          fn: mockApi,
          validate: true,
          interval: POLL_INTERVAL,
    })
    .then(user => console.log(user))
    .catch(err => console.error(err));
   
    </script>
    
{% endblock %}

